# Ignore the upgrade and uploads directories created by WordPress.
/upgrade
/uploads

# Ignore any node_modules directories.
node_modules

# Ignore db.php file created by Query Monitor.
db.php

# Ignore the entire theme directory.
/themes/*

# But! Include the index file and any themes we're tracking.
!/themes/index.php
!/themes/atvp

# Ignore the entire plugins directory.
/plugins/*

# But! Include the index file and any plugins we're tracking.
/plugins/index.php

# Ignore the entire mu-plugins directory.
/mu-plugins/*

# But! Include the index file and any mu-plugins we're tracking.
/mu-plugins/index.php
