/*--------------------------------------------------------------
	# Entry
--------------------------------------------------------------*/
.entry-header,
.entry-content > * {
	margin-right: auto;
	max-width: var(--max-content-width);
}

.home:not(.primary-menu-open) .entry-content > :not(.alignfull) {
	margin-left: auto;
}
