/*--------------------------------------------------------------
	# Entry
--------------------------------------------------------------*/
.entry-header,
.entry-content > * {
	margin-right: auto;
	max-width: var(--max-content-width);

	.home & {

		> *:not(.alignfull) {
			margin-left: auto;
		}
	}
}
