/*--------------------------------------------------------------
	# Entry
--------------------------------------------------------------*/
.entry-header,
.entry-content > * {
	margin-right: auto;
	max-width: var(--max-content-width);
}

.home .entry-content > :not(.alignfull) {
	margin-left: auto;
}

.entry-header,
.page-header {
	padding-top: clamp(var(--spacing), 7.5vw, var(--spacing-3));
	margin-bottom: clamp(var(--spacing), 5vw, var(--spacing-3));
}

/*--------------------------------------------------------------
	# Post thumbnail - featured image
--------------------------------------------------------------*/
.post-thumbnail {

	@media (--larger-than-small-viewport) {
		float: right;
		margin: var(--gutter) 0 var(--gutter) var(--gutter);
		max-width: 50%;
	}
}

/*--------------------------------------------------------------
	# Home
--------------------------------------------------------------*/
.home {

	.entry-header {
		display: none;
	}
}

.get-help {

	> div > * {
		margin: 0.5rem 0 0;
	}

	.wp-block-columns {
		align-items: center;
		margin-top: var(--spacing-2);

		.wp-block-column {

			@media (min-width: 600px) {
				margin: 0;
				padding: var(--spacing-050) var(--spacing);

				&:first-child {
					border-right: 1px solid var(--color-gray-dark);
				}
			}
		}
	}
}

/*--------------------------------------------------------------
	# Blocks
--------------------------------------------------------------*/

/* --- Buttons --- */
.wp-block-buttons {

	.wp-block-button {
		margin: var(--spacing-050) clamp(var(--spacing-2), 10vw, var(--spacing-6)) var(--spacing-050) 0;

		&:last-child {
			margin-right: 0;
		}
	}

	/*stylelint-disable */
	.wp-block-button__link {
		font-size: inherit;
	}

	.is-style-arrow-link {
		font-size: var(--font-size-default);

		.quick-links & {
			font-size: var(--font-size-medium);
		}

		.wp-block-button__link {
			background-color: transparent;
			border: none;
			color: var(--color-alert);
			display: flex;
			font-weight: 700;
			padding: 0;

			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}

			&::after {
				content: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.692 13.432L13.412 7v-.096L6.692.472 4.772 2.68l3.12 2.64H.068v3.264h7.824l-3.12 2.64z' fill='%23BF231B' fill-rule='nonzero'/%3E%3C/svg%3E");
				display: inline-block;
				margin: 0.1em 0 0 0.25em;
				width: 0.75em;
			}

			.has-color-white-color & {
				color: var(--color-white);

				&::after {
					content: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.692 13.432L13.412 7v-.096L6.692.472 4.772 2.68l3.12 2.64H.068v3.264h7.824l-3.12 2.64z' fill='%23ffffff' fill-rule='nonzero'/%3E%3C/svg%3E");
				}
			}
		}
	}
	/* stylelint-enable */
}

/* HR / Separator  */
.wp-block-separator {
	background-color: var(--color-primary-light);
	border: none;
	height: 2px;
	margin: var(--spacing-2) 0;
	width: 100%;
	max-width: var(--max-content-width);

	&.has-background {
		padding: 0;
	}
}

/* Blockquote */
.wp-block-quote {
	font-size: var(--font-size-medium);
	font-style: italic;

	p {
		line-height: 1.85;
	}
}

/*--------------------------------------------------------------
	# Quicklinks
--------------------------------------------------------------*/
.quick-links {

	.is-content-justification-center {

		@media (--mobile-nav) {
			justify-content: left;
		}
	}
}

/*--------------------------------------------------------------
	# Archives
--------------------------------------------------------------*/
.archive {

	.post {
		border-top: 3px solid var(--color-primary-light);
		margin-top: var(--spacing-2);
		padding-top: var(--spacing-2);
	}

	.entry-header {
		margin-bottom: 0;
		padding-top: 0;
	}

	.entry-title {
		margin-top: 0;
	}

	.entry-meta {
		font-size: var(--font-size-small);
	}

	.entry-footer {
		font-size: var(--font-size-small);
	}
}

/*--------------------------------------------------------------
	# Single
--------------------------------------------------------------*/
.single {

	.entry-meta {
		font-size: var(--font-size-small);
	}

	.updated {
		display: none;
	}

	.entry-footer {
		font-size: var(--font-size-small);
	}
}

.nav-links {
	border-top: 3px solid var(--color-gray-light);
	margin-top: var(--spacing);
	padding-top: var(--spacing);
}

/*--------------------------------------------------------------
	# 404 page
--------------------------------------------------------------*/
.error404 .entry-header {
	text-align: left;
}
