body {
	color: var(--color-gray-dark);
	font-family: var(--font-sans);
	font-size: var(--font-size-default);
	font-weight: 400;
	line-height: 1.63;
}

/* --- Headers --- */
h1,
h2,
h3,
h4,
h5 {
	font-weight: 900;
	line-height: 1.13;
	margin: 2em 0 0.5em;
}

h1 {
	font-size: var(--font-size-huge);
	margin-top: 0;
}

h2 {
	font-size: var(--font-size-large);
}

h3 {
	font-size: var(--font-size-medium);
	font-weight: 700;
	letter-spacing: var(--letter-spacing);
}

h4 {
	font-size: var(--font-size-default);
	font-weight: 700;
}

h5 {
	font-size: var(--font-size-small);
	font-weight: 700;
	letter-spacing: var(--letter-spacing);
	margin-bottom: -0.5em;
	text-transform: uppercase;
}

p,
ol,
ul {
	font-weight: 400;
	margin: 1.25em 0;
}

.entry-content li {
	margin-left: var(--spacing);
}

a {
	color: var(--color-primary);
	transition: color var(--speed) ease;

	&:hover {
		color: var(--color-hover);
		text-decoration: none;
	}
}

strong {
	font-weight: 700;
}

figcaption {
	font-size: var(--font-size-small);
	text-align: center;
}

/* --- Links --- */
:focus {
	outline: 2px dotted var(--color-primary);
}

.site-content a,
.site-footer a {
	color: var(--color-secondary);
}

/*--- Form elements ---*/
.comment-form-comment textarea {
	max-width: 100%;
}

/*--- Buttons ---*/
/* stylelint-disable */
.button,
.wp-block-button__link,
input[type="submit"] {
	background-color: var(--color-primary);
	border: 2px solid var(--color-primary);
	border-radius: var(--border-radius);
	color: var(--color-white);
	cursor: pointer;
	font-size: var(--font-size-small);
	padding: var(--spacing-050) var(--spacing);
	transition: all var(--speed) ease;

	&:hover {
		background-color: var(--color-accent);
		border-color: var(--color-accent);
		color: var(--color-white);
	}

	&:focus {
		outline: 3px dashed var(--color-gray-dark);
		outline-offset: 4px;
	}
}

.is-style-arrow-link .wp-block-button__link:focus {
	outline-color: currentColor;
}
/* stylelint-enable */
