/*--------------------------------------------------------------
  # General layout
--------------------------------------------------------------*/
.site-header,
.entry-header,
.entry-content > * {
	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--gutter);
	max-width: var(--max-width);
}

.entry-header,
.entry-content > * {
	max-width: var(--max-content-width);
}

/*--------------------------------------------------------------
  # Site Header
--------------------------------------------------------------*/
.site-header {
	position: relative;

	@media (--desktop-nav) {
		display: flex;
	}

	@media (--mobile-nav) {
		min-height: 50px;
	}
}

/* ----- Site Branding ----- */
.site-branding {

	img {
		width: auto;
	}
}

/* ----- Main Navigation ----- */

/* Prevent the body from scrolling when the menu is toggled open. */
@media (--mobile-nav) {

	body.primary-menu-open {
		overflow-y: hidden;
	}
}

.menu-toggle {
	background-color: var(--color-white);
	border: 1px solid currentColor;
	color: var(--color-primary);
	cursor: pointer;
	display: flex;
	font-family: var(--font-sans);
	font-size: var(--font-size-smaller);
	font-weight: 400;
	margin: var(--spacing);
	padding: var(--spacing-tight);
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	width: max-content;
	z-index: 2;

	@media (--desktop-nav) {

		body:not(.home) & {
			display: none;
		}
	}
}

#primary-menu {
	background: var(--color-primary);
	font-family: var(--font-sans);
	list-style: none;
	text-transform: uppercase;
	z-index: 1;

	ul {
		margin: 0;
		padding: 20px;
	}

	a {
		color: #fff;
		display: inline-block;
		text-decoration: none;
	}
}

#primary-menu.js-menu {

	&,
	ul {
		display: none;

		&.toggled-open {
			display: block;
		}
	}

	li {
		position: relative;

		&.menu-item-has-children a {
			margin-right: 1.5em;
		}
	}

	.submenu-toggle {
		background: transparent url(assets/icon-down-chevron.svg) content-box center no-repeat;
		border: none;
		cursor: context-menu;
		height: 1.5em;
		padding: 0.25em;
		position: absolute;
		right: 0;
		top: 0;
		transition: transform 0.15s ease;
		width: 1.5em;

		&[aria-expanded="true"] {
			transform: scaleY(-1);
		}
	}

	/* Desktop views. */
	@media (--desktop-nav) {

		display: block;

		body.home & {
			display: none;

			&.toggled-open {
				display: block;
			}
		}
	}
}

/*--------------------------------------------------------------
  # Site Footer
--------------------------------------------------------------*/
.site-footer {
	--footer-logo-width: 230px;
	background-color: var(--color-gray-light);
	margin: 0;
	position: relative;

	@media (--small-viewport) {
		text-align: center;
	}

	/* stylelint-disable */
	a {
		color: inherit;

		&:hover {
			color: var(--color-accent);
		}
	}
}

.magnolia-footer {
	font-size: var(--font-size-smaller);
	padding: var(--spacing) var(--gutter);

	.widget_media_image {
		margin: var(--spacing) auto;
		max-width: 100px;
	}

	.widget_text {
		text-align: center;
	}
	/* stylelint-enable */
}

.footer-nav {
	margin: var(--spacing) auto;

	.menu {
		display: flex;
		flex-wrap: wrap;
		font-size: var(--font-size-small);
		justify-content: center;
		list-style: none;
		margin-top: var(--spacing-tight);

		@media (--small-viewport) {
			justify-content: center;
		}
	}

	.menu-footer-links-container {
		font-weight: 700;
	}

	.menu-item {
		margin: 0 var(--spacing-tight);
	}

	/* stylelint-disable */
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.site-info {
	background-color: var(--color-gray-dark);
	color: var(--color-white);
	font-size: var(--font-size-smaller);
	margin: 0;
	padding: var(--spacing-tight);
	text-align: center;

	@media (--small-viewport) {
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
	/* stylelint-enable */
}
