/*--------------------------------------------------------------
  # General layout
--------------------------------------------------------------*/
body {
	background-image: linear-gradient(180deg, var(--color-primary-light), var(--color-white) 50vh);
	background-attachment: fixed;
	border-top: 6px solid var(--color-primary);
}

.site {
	background-color: var(--color-white);
	display: grid;
	grid-template: "header header main ." "nav nav main ." 1fr "footer footer footer footer" / var(--gutter) auto 1fr var(--gutter);
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: var(--max-width);

	.home & {
		grid-template: "header header header ." "nav main main ." 1fr "footer footer footer footer" / var(--gutter) auto 1fr var(--gutter);
	}

	.primary-menu-open & {
		grid-template: "header header header ." "nav nav main ." 1fr "footer footer footer footer" / var(--gutter) auto 1fr var(--gutter);
	}

	@media (--mobile-nav) {
		grid-template: "header header ." "nav main ." 1fr "footer footer footer" / var(--gutter) 1fr var(--gutter);
	}

	@media (--larger-than-max-width) {
		border-left: 1px solid var(--color-primary-light);
		border-right: 1px solid var(--color-primary-light);
	}
}

/*--------------------------------------------------------------
  # Site Header
--------------------------------------------------------------*/
.site-header {
	grid-area: header;
	margin-bottom: var(--spacing-150);
	position: relative;
	width: 100%;

	@media (--desktop-nav) {
		display: flex;
	}

	@media (--mobile-nav) {
		min-height: 50px;
	}
}

/* ----- Site Branding ----- */
.site-branding {
	width: min(50vw, 250px);

	.home & {
		width: min(50vw, 300px);
	}
}

.site-title {
	margin: 0;
}

/* ----- Main Navigation ----- */
.main-navigation {
	grid-area: nav;
	height: max-content;

	.home & {
		border-right: none;
	}

	@media (--desktop-nav) {
		position: sticky;
		top: 0;
	}
}

/* Prevent the body from scrolling when the menu is toggled open. */
@media (--mobile-nav) {

	body.primary-menu-open {
		overflow-y: hidden;
	}
}

.menu-toggle {
	align-items: center;
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	border-radius: 0;
	color: var(--color-white);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-family: var(--font-sans);
	font-size: var(--font-size-smaller);
	font-weight: 400;
	padding: var(--spacing-050);
	position: absolute;
	right: 0;
	top: 0;
	transition: background-color var(--speed) ease;
	width: max-content;
	z-index: 2;

	@media (--desktop-nav) {

		.home & {
			right: 0;
			top: 0;
			transform: translateX(calc(100% - var(--gutter)));
		}

		body:not(.home) & {
			display: none;
		}

		.home.primary-menu-open & {
			transform: translateX(100%);
		}
	}

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
	}

	.icon-close,
	.icon-menu {
		display: flex;
		position: relative;
		height: 20px;
		width: 20px;

		/* Allow button to engage when someone hits the icon */
		z-index: -1;
	}

	.icon-close {
		display: none;
	}

	&[aria-expanded="true"] {

		.icon-menu {
			display: none;
		}

		.icon-close {
			display: flex;
		}
	}
}

#primary-menu {
	border-top: 3px solid var(--color-primary);
	list-style: none;
	height: 100vh;
	overflow-y: scroll;
	padding: var(--spacing-050) var(--spacing-050) var(--spacing-2);
	width: min(25vw, 300px);
	z-index: 1;

	@media (--mobile-nav) {
		border-top: 6px solid var(--color-primary);
		box-shadow: 2px 2px 10px var(--color-primary-light);
		height: 100vh;
		overflow-y: scroll;
		padding-bottom: var(--spacing-050);
		width: clamp(400px, 50vw, 500px);
	}

	@media (--small-viewport) {
		width: 100vw;
	}

	ul {
		margin: 0;
		padding: 20px;
		width: 100%;
	}

	li {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	a {
		display: block;
		flex-grow: 1;
		padding: 4px;
		text-decoration: none;
		transition: background-color var(--speed) ease;

		@media (--mobile-nav) {
			padding: var(--spacing-050) 4px;
		}

		&:hover {
			background-color: var(--color-gray-light);
		}
	}

	/* stylelint-disable no-descending-specificity */
	> li {
		border-bottom: 1px solid var(--color-gray-light);
	}
	/* stylelint-enable no-descending-specificity */
}

#primary-menu.js-menu {

	ul {
		list-style: none;
	}

	[aria-expanded="false"] + ul {
		display: none;
	}

	li {
		position: relative;
	}

	.submenu-toggle {
		background: transparent url(assets/icon-down-chevron.svg) center / 50% no-repeat;
		border: none;
		cursor: context-menu;
		opacity: 0.5;
		padding: 0;
		transition: all 0.15s ease;
		width: 2em;

		&:hover {
			opacity: 1;
		}

		&[aria-expanded="true"] {
			transform: scaleY(-1);
		}
	}

	@media (--mobile-nav) {
		background-color: var(--color-white);
		display: none;
		position: fixed;
		left: 0;
		top: 0;

		&.toggled-open {
			display: block;
		}
	}

	/* Desktop views. */
	@media (--desktop-nav) {

		display: block;

		body.home & {
			display: none;

			&.toggled-open {
				display: block;
			}
		}
	}
}

/* stylelint-disable no-descending-specificity */
.current-menu-item > a {
	font-weight: 700;
}
/* stylelint-enable no-descending-specificity */

/*--------------------------------------------------------------
  # Main
--------------------------------------------------------------*/
.site-main {
	grid-area: main;
	padding-bottom: calc(var(--gutter) * 2);

	.home & {
		margin-top: clamp(var(--spacing), 7.5vw, var(--spacing-4));
	}

	@media (--desktop-nav) {
		border-left: 1px solid var(--color-primary-light);
		padding-left: var(--gutter);

		.home & {
			border: none;
			margin-top: 0;
			padding-left: 0;
		}

		.home.primary-menu-open & {
			border-left: 1px solid var(--color-primary-light);
			padding-left: var(--gutter);
		}
	}
}

/*--------------------------------------------------------------
  # Site Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: var(--color-secondary-light);
	color: var(--color-secondary);
	grid-area: footer;
	margin: 0;
	padding-top: var(--spacing-2);
	position: relative;
	width: 100%;

	@media (--desktop-nav) {
		display: grid;
		grid-template: "a . b" "c . b" "d d d" / 1fr var(--gutter) 1fr;
	}

	@media (--small-viewport) {
		text-align: center;
	}

	/* stylelint-disable */
	a {
		color: var(--color-primary);

		&:hover {
			color: var(--color-accent);
		}
	}

	& > *:not(.site-info) {
		margin-left: auto;
		margin-right: auto;
		padding-left: var(--gutter);
		padding-right: var(--gutter);
		width: 100%;
		max-width: var(--align-wide);
	}

	.site-title {
		grid-area: a;
		margin-bottom: var(--spacing-2);

		a {
			color: var(--color-secondary);
			font-size: var(--font-size-medium);
			font-weight: 400;
			text-decoration: none;
		}
	}

	.site-company {
		display: grid;
		gap: var(--spacing);
		grid-area: c;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

		@media (--desktop-nav) {
			grid-template-columns: 1fr 1fr;
		}

		.location {
			font-size: var(--font-size-default);
			letter-spacing: 0;
			margin: 0;
		}

		p {
			font-size: var(--font-size-small);
			margin: 0 0 var(--spacing-050);
		}
	}
}

.footer-nav {
	grid-area: b;
	margin: var(--spacing) auto;

	.menu {
		display: flex;
		flex-wrap: wrap;
		font-size: var(--font-size-default);
		justify-content: right;
		list-style: none;
		margin-top: var(--spacing);

		@media (--mobile-nav) {
			justify-content: center;
		}
	}

	.menu-item {
		margin: 0 var(--spacing-050);
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	svg {
		fill: var(--color-primary);
		height: 2em;
		transition: fill var(--speed) ease;
		width: 2em;

		&:hover {
			fill: var(--color-secondary);
		}
	}
}

.site-info {
	background-color: var(--color-white);
	color: var(--color-secondary);
	font-size: var(--font-size-small);
	grid-area: d;
	margin: var(--spacing-2) 0 0;
	padding: var(--spacing-050);
	text-align: center;
	width: 100%;

	@media (--small-viewport) {
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
	/* stylelint-enable */
}
