/*--------------------------------------------------------------
  # General layout
--------------------------------------------------------------*/
.site {
	display: grid;
	grid-template: ". header main ." ". nav main ." 1fr "footer footer footer footer" / var(--gutter) auto 1fr var(--gutter);
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: var(--max-width);

	.home & {
		grid-template: ". header header ." ". main main ." 1fr "footer footer footer footer" / var(--gutter) auto 1fr var(--gutter);
	}

	.primary-menu-open & {
		grid-template: ". header header ." ". nav main ." 1fr "footer footer footer footer" / var(--gutter) auto 1fr var(--gutter);
	}

	@media (--mobile-nav) {
		grid-template: ". header ." ". main ." 1fr "footer footer footer" / var(--gutter) 1fr var(--gutter);
	}

	@media (--larger-than-max-width) {
		border: 1px solid var(--color-primary-light);
		border-width: 0 1px;
	}
}

/*--------------------------------------------------------------
  # Site Header
--------------------------------------------------------------*/
.site-header {
	grid-area: header;
	position: relative;
	width: 100%;

	@media (--desktop-nav) {
		display: flex;
	}

	@media (--mobile-nav) {
		min-height: 50px;
	}
}

/* ----- Site Branding ----- */
.site-branding {
	width: min(50vw, 200px);

	.home & {
		width: min(50vw, 300px);
	}
}

.site-title {
	margin: 0;
}

/* ----- Main Navigation ----- */
.main-navigation {
	border-right: 1px solid var(--color-primary-light);
	grid-area: nav;
	margin-top: var(--spacing-2);

	.home & {
		border-right: none;
	}

	.home.primary-menu-open & {
		border-right: 1px solid var(--color-primary-light);
	}
}

/* Prevent the body from scrolling when the menu is toggled open. */
@media (--mobile-nav) {

	body.primary-menu-open {
		overflow-y: hidden;
	}
}

.menu-toggle {
	background-color: var(--color-white);
	border: 1px solid currentColor;
	color: var(--color-primary);
	cursor: pointer;
	display: flex;
	font-family: var(--font-sans);
	font-size: var(--font-size-smaller);
	font-weight: 400;
	padding: var(--spacing-050);
	position: absolute;
	right: var(--gutter);
	top: var(--spacing);
	transition: background-color var(--speed) ease;
	width: max-content;
	z-index: 2;

	/* stylelint-disable function-url-quotes */
	&::before {
		content: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='28px' height='21px' viewBox='0 0 28 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ehamburger%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='ATVP---initial-style-tile' transform='translate(-1121.000000, -58.000000)' stroke='%232A2275' stroke-width='3'%3E%3Cg id='Header' transform='translate(85.000000, -2.000000)'%3E%3Cg id='Menu' transform='translate(1038.000000, 60.000000)'%3E%3Cg id='hamburger' transform='translate(0.000000, 1.000000)'%3E%3Cline x1='0.387096774' y1='18.5' x2='23.6129032' y2='18.5' id='Line'%3E%3C/line%3E%3Cline x1='0.387096774' y1='9.5' x2='23.6129032' y2='9.5' id='Line'%3E%3C/line%3E%3Cline x1='0.387096774' y1='0.5' x2='23.6129032' y2='0.5' id='Line'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		align-self: center;
		display: flex;
		height: 14px;
		margin-right: -3px;
	}

	&:hover::before {
		content: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='28px' height='21px' viewBox='0 0 28 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ehamburger%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='ATVP---initial-style-tile' transform='translate(-1121.000000, -58.000000)' stroke='%23ffffff' stroke-width='3'%3E%3Cg id='Header' transform='translate(85.000000, -2.000000)'%3E%3Cg id='Menu' transform='translate(1038.000000, 60.000000)'%3E%3Cg id='hamburger' transform='translate(0.000000, 1.000000)'%3E%3Cline x1='0.387096774' y1='18.5' x2='23.6129032' y2='18.5' id='Line'%3E%3C/line%3E%3Cline x1='0.387096774' y1='9.5' x2='23.6129032' y2='9.5' id='Line'%3E%3C/line%3E%3Cline x1='0.387096774' y1='0.5' x2='23.6129032' y2='0.5' id='Line'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}

	.primary-menu-open & {

		&::before {
			content: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='26px' height='23px' viewBox='0 0 26 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='close' transform='translate(1.000000, 1.000000)' stroke='%232A2275' stroke-width='2'%3E%3Cline x1='0.5' y1='0.5' x2='23.5' y2='20.5' id='Line-2'%3E%3C/line%3E%3Cline x1='0.5' y1='20.5' x2='23.5' y2='0.5' id='Line-3'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}

		&:hover::before {
			content: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='26px' height='23px' viewBox='0 0 26 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='close' transform='translate(1.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cline x1='0.5' y1='0.5' x2='23.5' y2='20.5' id='Line-2'%3E%3C/line%3E%3Cline x1='0.5' y1='20.5' x2='23.5' y2='0.5' id='Line-3'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
	}
	/* stylelint-enable function-url-quotes */

	@media (--desktop-nav) {

		body:not(.home) & {
			display: none;
		}
	}

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
	}
}

#primary-menu {
	border-radius: var(--border-radius);
	border-top: 3px solid var(--color-accent);
	list-style: none;
	padding: var(--spacing-050) var(--spacing-050) var(--spacing-2);
	width: min(25vw, 300px);
	z-index: 1;

	@media (--mobile-nav) {
		border-color: var(--color-primary);
		box-shadow: 2px 2px 10px var(--color-primary-light);
		height: 100vh;
		overflow-y: scroll;
		padding-bottom: var(--spacing-050);
		width: clamp(400px, 50vw, 500px);
	}

	@media (--small-viewport) {
		width: 100vw;
	}

	ul {
		margin: 0;
		padding: 20px;
	}

	a {
		display: block;
		padding: 4px;
		text-decoration: none;
		transition: background-color var(--speed) ease;

		@media (--mobile-nav) {
			padding: var(--spacing-050) 4px;
		}

		&:hover {
			background-color: var(--color-gray-light);
		}
	}

	/* stylelint-disable no-descending-specificity */
	> li {
		border-bottom: 1px solid var(--color-gray-light);
	}
	/* stylelint-enable no-descending-specificity */
}

#primary-menu.js-menu {

	ul {
		display: none;
		list-style: none;

		&.toggled-open {
			display: block;
		}
	}

	li {
		position: relative;

		&.menu-item-has-children a {
			margin-right: 1.5em;
		}
	}

	.submenu-toggle {
		background: transparent url(assets/icon-down-chevron.svg) content-box center no-repeat;
		border: none;
		cursor: context-menu;
		height: 1.5em;
		opacity: 0.5;
		padding: 0.25em;
		position: absolute;
		right: 0;
		top: 6px;
		transition: all 0.15s ease;
		width: 1.5em;

		&:hover {
			opacity: 1;
		}

		&[aria-expanded="true"] {
			transform: scaleY(-1);
		}
	}

	@media (--mobile-nav) {
		background-color: var(--color-white);
		display: none;
		position: absolute;
		left: 0;
		top: 10rem;

		&.toggled-open {
			display: block;
		}
	}

	/* Desktop views. */
	@media (--desktop-nav) {

		display: block;

		body.home & {
			display: none;

			&.toggled-open {
				display: block;
			}
		}
	}
}

/*--------------------------------------------------------------
  # Main
--------------------------------------------------------------*/
.site-main {
	grid-area: main;
	margin-top: clamp(var(--spacing), 5vw, var(--spacing-3));

	@media (--desktop-nav) {
		padding-left: var(--gutter);

		.home & {
			margin-top: 0;
			padding-left: 0;
		}

		.home.primary-menu-open & {
			padding-left: var(--gutter);
		}
	}
}

/*--------------------------------------------------------------
  # Site Footer
--------------------------------------------------------------*/
.site-footer {
	--footer-logo-width: 230px;
	background-color: var(--color-gray-light);
	grid-area: footer;
	margin: 0;
	position: relative;

	@media (--small-viewport) {
		text-align: center;
	}

	/* stylelint-disable */
	a {
		color: inherit;

		&:hover {
			color: var(--color-accent);
		}
	}
}

.footer-nav {
	margin: var(--spacing) auto;

	.menu {
		display: flex;
		flex-wrap: wrap;
		font-size: var(--font-size-small);
		justify-content: center;
		list-style: none;
		margin-top: var(--spacing-050);

		@media (--small-viewport) {
			justify-content: center;
		}
	}

	.menu-footer-links-container {
		font-weight: 700;
	}

	.menu-item {
		margin: 0 var(--spacing-050);
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.site-info {
	background-color: var(--color-gray-dark);
	color: var(--color-white);
	font-size: var(--font-size-smaller);
	margin: 0;
	padding: var(--spacing-050);
	text-align: center;

	@media (--small-viewport) {
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
	/* stylelint-enable */
}
