/*--------------------------------------------------------------
  # Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Skip Link --------------------------------- */
.skip-link {
	left: -9999rem;
	top: 0;
	z-index: 999999999;
}

.skip-link:focus {
	background: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	color: #0073aa;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
	font-size: 14px;
	font-weight: 700;
	left: 6px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 7px;
	z-index: 100000;
}

/*--------------------------------------------------------------
  # Alignments
--------------------------------------------------------------*/
.alignwide {
	margin-left: calc((var(--gutter) / 2) * -1);
	width: calc(100% + var(--gutter));
	max-width: calc(var(--align-wide) + var(--gutter));

	.home & {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.alignfull {
	width: calc(100% + (var(--gutter) * 2));
	max-width: calc(100% + (var(--gutter) * 2));
	margin-left: calc(var(--gutter) * -1);
	margin-right: calc(var(--gutter) * -1);

	.aligncenter {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--max-content-width);
	}

	.alignwide {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: var(--align-wide);
	}
}

.alignwider {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}

.is-content-justification-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*--------------------------------------------------------------
  # Typography
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: var(--font-size-small);
	line-height: 1.65;
}

.has-normal-font-size {
	font-size: var(--font-size-default);
	line-height: 1.5;
}

.has-medium-font-size {
	font-size: var(--font-size-medium);
	line-height: 1.5;
}

.has-large-font-size {
	font-size: var(--font-size-large);
	line-height: 1.5;
}

.has-larger-font-size {
	font-size: var(--font-size-larger);
	line-height: 1.35;
}

.has-huge-font-size {
	font-size: var(--font-size-huge);
	line-height: 1;
}

.uppercase,
.is-style-uppercase {
	text-transform: uppercase;
}

/*--------------------------------------------------------------
  # Colors
--------------------------------------------------------------*/

/* --- Background colors --- */
.has-background {
	margin-top: var(--spacing-2);
	margin-bottom: var(--spacing-2);
	padding: var(--spacing) var(--gutter);
}

.has-color-primary-background-color {
	background-color: var(--color-primary);
}

.has-color-primary-light-background-color {
	background-color: var(--color-primary-light);
}

.has-color-secondary-background-color {
	background-color: var(--color-secondary);
}

.has-color-secondary-light-background-color {
	background-color: var(--color-secondary-light);
}

.has-color-accent-background-color {
	background-color: var(--color-accent);
}

.has-color-alert-background-color {
	background-color: var(--color-alert);
}

.has-color-gray-background-color {
	background-color: var(--color-gray);
}

.has-color-gray-light-background-color {
	background-color: var(--color-gray-light);
}

.has-color-gray-dark-background-color {
	background-color: var(--color-gray-dark);
}

.has-color-white-background-color {
	background-color: var(--color-white);
}

.has-color-black-background-color {
	background-color: var(--color-black);
}

/* --- Text colors --- */
.has-color-primary-color {
	color: var(--color-primary);
}

.has-color-primary-light-color {
	color: var(--color-primary-light);
}

.has-color-secondary-color {
	color: var(--color-secondary);
}

.has-color-secondary-light-color {
	color: var(--color-secondary-light);
}

.has-color-accent-color {
	color: var(--color-accent);
}

.has-color-alert-color {
	color: var(--color-alert);
}

.has-color-gray-color {
	color: var(--color-gray);
}

.has-color-gray-light-color {
	color: var(--color-gray-light);
}

.has-color-gray-dark-color {
	color: var(--color-gray-dark);
}

.has-color-white-color {
	color: var(--color-white);
}

.has-color-black-color {
	color: var(--color-black);
}

/*--------------------------------------------------------------
  # Top margins
--------------------------------------------------------------*/
.has-zero-margin-top {
	margin-top: 0;
	margin-bottom: 0;
}

.has-small-margin-top {
	margin-top: var(--spacing);
	margin-bottom: 0;
}

.has-medium-margin-top {
	margin-top: var(--spacing-2);
	margin-bottom: 0;
}

.has-large-margin-top {
	margin-top: var(--spacing-4);
	margin-bottom: 0;
}

.has-larger-margin-top {
	margin-top: var(--spacing-6);
	margin-bottom: 0;
}
